In [1]:
# import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
from io import StringIO
from bs4 import BeautifulSoup
from sqlalchemy import create_engine

### Get Data for Crypto

In [2]:
#Scrape using request-JSON

# Save config information.
url = "https://whattomine.com/coins.json?eth=true&factor%5Beth_hr%5D=90.0&factor%5Beth_p%5D=420.0&e4g=true&factor%5Be4g_hr%5D=90.0&factor%5Be4g_p%5D=420.0&zh=true&factor%5Bzh_hr%5D=63.0&factor%5Bzh_p%5D=360.0&cnh=true&factor%5Bcnh_hr%5D=2880.0&factor%5Bcnh_p%5D=330.0&cng=true&factor%5Bcng_hr%5D=2280.0&factor%5Bcng_p%5D=360.0&cnf=true&factor%5Bcnf_hr%5D=4950.0&factor%5Bcnf_p%5D=330.0&cx=true&factor%5Bcx_hr%5D=3.3&factor%5Bcx_p%5D=360.0&eqa=true&factor%5Beqa_hr%5D=285.0&factor%5Beqa_p%5D=360.0&cc=true&factor%5Bcc_hr%5D=7.8&factor%5Bcc_p%5D=390.0&cr29=true&factor%5Bcr29_hr%5D=7.2&factor%5Bcr29_p%5D=390.0&ct31=true&factor%5Bct31_hr%5D=1.8&factor%5Bct31_p%5D=360.0&ct32=true&factor%5Bct32_hr%5D=0.48&factor%5Bct32_p%5D=360.0&eqb=true&factor%5Beqb_hr%5D=46.5&factor%5Beqb_p%5D=420.0&rmx=true&factor%5Brmx_hr%5D=1410.0&factor%5Brmx_p%5D=270.0&ns=true&factor%5Bns_hr%5D=2460.0&factor%5Bns_p%5D=450.0&al=true&factor%5Bal_hr%5D=177.0&factor%5Bal_p%5D=390.0&ops=true&factor%5Bops_hr%5D=14.7&factor%5Bops_p%5D=360.0&eqz=true&factor%5Beqz_hr%5D=42.0&factor%5Beqz_p%5D=390.0&zlh=true&factor%5Bzlh_hr%5D=42.0&factor%5Bzlh_p%5D=360.0&kpw=true&factor%5Bkpw_hr%5D=39.0&factor%5Bkpw_p%5D=510.0&ppw=true&factor%5Bppw_hr%5D=28.2&factor%5Bppw_p%5D=420.0&x25x=true&factor%5Bx25x_hr%5D=2.49&factor%5Bx25x_p%5D=240.0&fpw=true&factor%5Bfpw_hr%5D=43.5&factor%5Bfpw_p%5D=510.0&vh=true&factor%5Bvh_hr%5D=1.32&factor%5Bvh_p%5D=360.0&factor%5Bcost%5D=0.1&factor%5Bcost_currency%5D=USD&sort=Profitability24&volume=0&revenue=24h&factor%5Bexchanges%5D%5B%5D=&factor%5Bexchanges%5D%5B%5D=binance&factor%5Bexchanges%5D%5B%5D=bitfinex&factor%5Bexchanges%5D%5B%5D=bitforex&factor%5Bexchanges%5D%5B%5D=bittrex&factor%5Bexchanges%5D%5B%5D=coinex&factor%5Bexchanges%5D%5B%5D=dove&factor%5Bexchanges%5D%5B%5D=exmo&factor%5Bexchanges%5D%5B%5D=gate&factor%5Bexchanges%5D%5B%5D=graviex&factor%5Bexchanges%5D%5B%5D=hitbtc&factor%5Bexchanges%5D%5B%5D=hotbit&factor%5Bexchanges%5D%5B%5D=ogre&factor%5Bexchanges%5D%5B%5D=poloniex&factor%5Bexchanges%5D%5B%5D=stex&dataset="

# Build partial query URL
_response = requests.get(url)
_json = _response.json()

# Get dictionary from JSON
coins = _json['coins']

# Import dictionary to dataframe, as the data is flipped we have transposed
_json_df = pd.DataFrame(coins).T

_json_df.head()

,id,tag,algorithm,block_time,block_reward,block_reward24,last_block,difficulty,difficulty24,nethash,...,exchange_rate_curr,market_cap,estimated_rewards,estimated_rewards24,btc_revenue,btc_revenue24,profitability,profitability24,lagging,timestamp
Ethereum,151,ETH,Ethash,15.0692,2.100985,2.141305,14962466,13645225884676484.0,14465744170878592.0,905504332325304,...,BTC,"$149,220,058,348",0.0012,0.00115,0.00006545,0.00006292,100,100,False,1655221070
Nicehash-Ethash,15,NICEHASH,Ethash,1,1,1,0,1,1,50104711716367,...,BTC,$0,0.00006,0.00006,0.0000636,0.00006203,97,99,False,1655221084
Firo,175,FIRO,FiroPow,293.0,6.25,6.25,485676,5751.4895,5727.933169,84308734832,...,BTC,"$18,017,079",0.90291,0.90662,0.00005417,0.0000544,83,86,False,1655220634
Ravencoin,234,RVN,KawPow,60.0,2500.0,2500.0,2320293,32439.8151,33745.829237,2322132415724,...,BTC,"$202,903,873",60.46065,58.12077,0.000052,0.00004998,79,79,False,1655220976
Ergo,340,ERG,Autolykos,118.0,63.0104,63.040731,771903,1843344128868352.0,1843344128868352.0,15621560414138,...,BTC,"$65,610,555",0.52275,0.523,0.00004756,0.00004758,73,76,False,1655220617

### Filter out relevant columns

In [3]:
df1 = _json_df[['id','tag','algorithm','block_time','block_reward','nethash','timestamp']]

df1.head()

,id,tag,algorithm,block_time,block_reward,nethash,timestamp
Ethereum,151,ETH,Ethash,15.0692,2.100985,905504332325304,1655221070
Nicehash-Ethash,15,NICEHASH,Ethash,1,1,50104711716367,1655221084
Firo,175,FIRO,FiroPow,293.0,6.25,84308734832,1655220634
Ravencoin,234,RVN,KawPow,60.0,2500.0,2322132415724,1655220976
Ergo,340,ERG,Autolykos,118.0,63.0104,15621560414138,1655220617

### GET GPU HASRATES + POWER + ALGORITHM

In [4]:
#Scrape usign request to get html of page
page = requests.get('https://whattomine.com/gpus')
b = page.content

# Using Pandas to convert html into dataframe
df_list = pd.read_html(b)
df = df_list[-1]

# Get only the relevant columns
df2 = df[['Model','Hashrate']]

df2.head()

                            Model                   Hashrate
0  NVIDIA GeForce RTX 3090 Ti (*)  128.00 Mh/s Ethash · 350W
1         NVIDIA GeForce RTX 3090  119.00 Mh/s Ethash · 320W
2      NVIDIA GeForce RTX 3080 Ti  117.00 Mh/s Ethash · 330W
3            NVIDIA RTX A5000 (*)   99.00 Mh/s Ethash · 230W
4                  AMD Radeon VII   93.00 Mh/s Ethash · 200W

In [5]:
# Split Model columns to 'Make' & 'Series'
df12 = df2['Model'].str.split(" ", n=1,expand=True)
# Rename COlumn name 
df12 = df12.rename(columns={0:'Make',1:'GPU_name'})

df12.head()

     Make                 GPU_name
0  NVIDIA  GeForce RTX 3090 Ti (*)
1  NVIDIA         GeForce RTX 3090
2  NVIDIA      GeForce RTX 3080 Ti
3  NVIDIA            RTX A5000 (*)
4     AMD               Radeon VII

In [13]:
#Seperate 'Hasrate' Column to three different columns [hashrate, algorithm, power]
df13 = df2['Hashrate'].str.split(" ", n =3, expand=True)

# Removed unused columns 
#df123 = df123.drop(df123.columns[3],axis = 1)

# Rename index columns
df123 = df13.rename(columns={0:'hashrate',1:'units',2:'algorithm',3:'power'})
df123 = df123.astype({'hashrate': float})

# Change all units to MH/s where we have h/s
df123.loc[df123['units'] == 'h/s', 'hashrate'] /= 1000000
# Drop 'units' columns
df123 = df123.drop(df123.columns[1],axis = 1)
# Re-instate dataframe
df123 = df123

# Drop the '.' and 'W' and leave the number
df123['power'] = df123['power'].str.replace('[·W]',"")

df123.head()

C:\Users\edber\AppData\Local\Temp/ipykernel_20420/882539781.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df123['power'] = df123['power'].str.replace('[·W]',"")

   hashrate algorithm power
0     128.0    Ethash   350
1     119.0    Ethash   320
2     117.0    Ethash   330
3      99.0    Ethash   230
4      93.0    Ethash   200

In [17]:
# Combining back dataframe together
df_gpu = df12
df_gpu['hashrate'] =  df123['hashrate']
df_gpu['algorithm'] =  df123['algorithm']
df_gpu['power'] =  df123['power']

df_gpu.head()

     Make                 GPU_name  hashrate algorithm power
0  NVIDIA  GeForce RTX 3090 Ti (*)     128.0    Ethash   350
1  NVIDIA         GeForce RTX 3090     119.0    Ethash   320
2  NVIDIA      GeForce RTX 3080 Ti     117.0    Ethash   330
3  NVIDIA            RTX A5000 (*)      99.0    Ethash   230
4     AMD               Radeon VII      93.0    Ethash   200

### Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/CryptoMining_db"
engine = create_engine(f'postgresql://{connection_string}')

In [14]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [26]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)

In [37]:
# URL of page to be scraped with pandas
url = 'https://www.hashrate.no/'
tables = pd.read_html(url)

df3 = tables[1]

df3 = df3[['Model','Coin','Hashrate','Power','Efficiency']]
df3.head()

                  Model     Coin               Hashrate Power Efficiency
0    NVIDIA RTX 3090 Ti  ETH+TON  128.12 Mh/s+3.72 Gh/s  473w  0.27 Mh/w
1    NVIDIA RTX 3080 Ti  ETH+TON  118.31 Mh/s+2.25 Gh/s  338w  0.35 Mh/w
2       NVIDIA RTX 3090  ETH+TON  119.68 Mh/s+2.09 Gh/s  349w  0.34 Mh/w
3  NVIDIA RTX 3080 12GB  ETH+TON  102.08 Mh/s+2.49 Gh/s  350w  0.29 Mh/w
4   NVIDIA RTX 3080 LHR  ETH+TON   99.51 Mh/s+2.67 Gh/s  326w  0.31 Mh/w